{{- $me := .Values.components.security.externalSecrets }}
{{- if include "common.managed" $me }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  chart:
    spec:
      chart: {{ $me.chartName }}
      sourceRef:
        kind: HelmRepository
        name: {{ $me.chartRepository | quote }}
        namespace: {{ $.Release.Namespace }}
      version: {{ $me.chartVersion | quote }}
  interval: 1h
  values:
    {{- include "security.externalSecrets.mergedValues" . | nindent 4 }}
{{- end }}
