{{- $me := .Values.components.monitoring.kubePrometheusStack }}
{{- if and
  (include "common.managed" $me)
  (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1")
}}
# From https://github.com/fluxcd/flux2/blob/abeea06e728ec374bed3508581d0aed2871761d0/manifests/monitoring/monitoring-config/podmonitor.yaml
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: flux-system
  namespace: flux-system
  labels:
    app.kubernetes.io/part-of: flux
    app.kubernetes.io/component: monitoring
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  namespaceSelector:
    matchNames:
      - flux-system
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - helm-controller
          - source-controller
          - kustomize-controller
          - notification-controller
          - image-automation-controller
          - image-reflector-controller
  podMetricsEndpoints:
    - port: http-prom
{{- end }}
