{{- $me := .Values.components.security.kyverno }}
{{- if include "common.managed" $me }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno-policies
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  dependsOn:
    - name: kyverno
      namespace: {{ $me.namespace }}
  interval: 1h
  timeout: 30m
  chart:
    spec:
      chart: kyverno-policies
      # each major contains upgrade process in changelog
      version: {{ $me.chartVersion | quote }}
      sourceRef:
        kind: HelmRepository
        name: {{ $me.chartRepository | quote }}
        namespace: {{ $.Release.Namespace }}
      interval: 1h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  test:
    enable: true
  values:
    # default failurePolicy Fail will block is webhook made an error. Ignore will continue
    failurePolicy: Ignore
    # validationFailureAction : Audit or Enforce
    validationFailureAction: Enforce
    policyExclude:
      disallow-capabilities:
        any:
        {{- if include "common.used" .Values.components.storage.rook }}
        - resources:
            namespaces:
            - {{ .Values.components.storage.rook.namespace }}
            kinds:
            - Pod
            names:
            - "rook-ceph.cephfs.csi.ceph.com-nodeplugin*"
            - "rook-ceph.rbd.csi.ceph.com-nodeplugin*"
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.k8sMonitoring }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.k8sMonitoring.namespace }}
            kinds:
            - Pod
            names:
            - "k8s-monitoring-alloy-logs-*"
        {{- end }}
        {{- if eq .Values.kubernetesDistribution "k3s" }}
        - resources:
            namespaces:
            - kube-system
            kinds:
            - Pod
            names:
            - "svclb-nginx-ingress-ingress-nginx-controller-*"
        {{- end }}
      disallow-host-namespaces:
        any:
        {{- if include "common.used" .Values.components.storage.rook }}
        - resources:
            namespaces:
            - {{ .Values.components.storage.rook.namespace }}
            # TODO: split more specific component
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.kubePrometheusStack.namespace }}
            # TODO: split more specific component
        {{- end }}
        {{- if include "common.used" .Values.components.security.trivy }}
        - resources:
            namespaces:
            - {{ .Values.components.security.trivy.namespace }}
            kinds:
            - Pod
            names:
            - "node-collector-*"
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.smartctlExporter }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.smartctlExporter.namespace }}
        {{- end }}
      disallow-host-path:
        any:
        # TODO: split more specific component
        {{- if include "common.used" .Values.components.storage.rook }}
        - resources:
            namespaces:
            - {{ .Values.components.storage.rook.namespace }}
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.promtail }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.promtail.namespace }}
            kinds:
            - Pod
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.x509CertificateExporter }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.x509CertificateExporter.namespace }}
            kinds:
            - Pod
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.k8sMonitoring }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.k8sMonitoring.namespace }}
            kinds:
            - Pod
            names:
            - "k8s-monitoring-alloy-logs-*"
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.kubePrometheusStack.namespace }}
            kinds:
            - DaemonSet
            names:
            - "prometheus-prometheus-node-exporter"
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.kubePrometheusStack.namespace }}
            kinds:
            - Pod
            names:
            - "prometheus-prometheus-node-exporter-*"
        {{- end }}
        {{- if include "common.used" .Values.components.security.trivy }}
        - resources:
            namespaces:
            - {{ .Values.components.security.trivy.namespace }}
            kinds:
            - Pod
            names:
            - "node-collector-*"
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.smartctlExporter.namespace }}
        {{- end }}
        {{- if include "common.used" .Values.components.backup.velero }}
        - resources:
            namespaces:
            - {{ .Values.components.backup.velero.namespace }}
            kinds:
            - Pod
            names:
            - "node-agent-*"
            {{- if dig "configuration" "defaultVolumesToFsBackup" "false" (include "backup.velero.mergedValues" . | fromYaml) }}
            - "velero-*"
            {{- end }}
        {{- end }}
        {{- if include "common.used" .Values.components.security.falco }}
        - resources:
            namespaces:
            - {{ .Values.components.security.falco.namespace }}
            kinds:
            - Pod
            names:
            - "falco-*"
            - "infra-falco-falco-*"
        {{- end }}
      disallow-host-ports:
        any:
        {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.kubePrometheusStack.namespace }}
            kinds:
            - DaemonSet
            names:
            - "prometheus-prometheus-node-exporter"
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.kubePrometheusStack.namespace }}
            kinds:
            - Pod
            names:
            - "prometheus-prometheus-node-exporter-*"
        {{- end }}
        {{- if eq .Values.kubernetesDistribution "k3s" }}
        - resources:
            namespaces:
            - kube-system
            kinds:
            - Pod
            names:
            - "svclb-nginx-ingress-ingress-nginx-controller-*"
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.smartctlExporter.namespace }}
        {{- end }}
      disallow-privileged-containers:
        any:
        {{- if include "common.used" .Values.components.storage.rook }}
        - resources:
            namespaces:
            - {{ .Values.components.storage.rook.namespace }}
            # TODO: split more specific component
        {{- end }}
        {{- if include "common.used" .Values.components.monitoring.smartctlExporter }}
        - resources:
            namespaces:
            - {{ .Values.components.monitoring.smartctlExporter.namespace }}
        {{- end }}
        {{- if include "common.used" .Values.components.security.falco }}
        - resources:
            namespaces:
            - {{ .Values.components.security.falco.namespace }}
            kinds:
            - Pod
            names:
            - "falco-*"
            - "infra-falco-falco-*"
        {{- end }}
      restrict-sysctls:
        any:
        {{- if eq .Values.kubernetesDistribution "k3s" }}
        - resources:
            namespaces:
            - kube-system
            kinds:
            - Pod
            - DaemonSet
            names:
            - "svclb-nginx-ingress-ingress-nginx-controller-*"
        {{- end }}
{{- end }}
