{{- $me := .Values.components.monitoring.openTelemetryCollector }}
{{- if and
  (include "common.managed" $me)
  (.Capabilities.APIVersions.Has "opentelemetry.io/v1beta1")
}}
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: collector
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  mode: daemonset
  resources:
    requests:
      memory: 50Mi
      cpu: 10m
    limits:
      memory: 100Mi
  config:
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    processors:
      batch:

    exporters:
      #logging:
      #  loglevel: debug
      {{- if include "common.used" .Values.components.monitoring.tempo }}
      otlp/tempo:
        endpoint: {{ template "monitoring.tempo.distributorEndpoint" . }}
        tls:
          insecure: true
      {{- end }}

      {{- if include "common.used" .Values.components.monitoring.loki }}
      otlphttp/loki:
        endpoint: {{ template "monitoring.loki.writeEndpoint" . }}/otlp
      {{- end }}

      {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
      #prometheusremotewrite/prometheus:
      #  endpoint: http://{{ template "monitoring.kubePrometheusStack.prometheusWriteEndpoint" . }}/api/v1/writedd
      #  tls:
      #    insecure: true
      {{- end }}
      

    service:
      pipelines:
        {{- if include "common.used" .Values.components.monitoring.tempo }}
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/tempo]
        {{- end }}

        {{- if include "common.used" .Values.components.monitoring.loki }}
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlphttp/loki]
        {{- end }}

        {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
        #metrics:
        #  receivers: [otlp]
        #  processors: [batch]
        #  exporters: [prometheusremotewrite/prometheus]
        {{- end }}
{{- end }}
