{{- $me := .Values.components.monitoring.x509CertificateExporter }}
{{- if include "common.managed" $me }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: x509
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  {{- if or
           (include "common.used" .Values.components.monitoring.kubePrometheusStack)
  }}
  dependsOn:
    {{- if include "common.used" .Values.components.monitoring.kubePrometheusStack }}
    - name: prometheus
      namespace: infra-prometheus
    {{- end }}
  {{- end }}
  interval: 1h
  timeout: 30m
  chart:
    spec:
      chart: x509-certificate-exporter
      version: {{ $me.chartVersion | quote }}
      sourceRef:
        kind: HelmRepository
        name: {{ $me.chartRepository | quote }}
        namespace: {{ $.Release.Namespace }}
      interval: 1h
  install:
    remediation:
      retries: -1
  upgrade:
    remediation:
      remediateLastFailure: true
  test:
    enable: true
  values:
    {{- include "monitoring.x509CertificateExporter.mergedValues" . | nindent 4 }}
{{- end }}
