{{- $me := .Values.components.backup.velero }}
{{- if include "common.managed" $me }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  interval: 1h
  timeout: 10m
  chart:
    spec:
      chart: velero
      # Don't forget to upgrade plugins when needed
      version: {{ $me.chartVersion | quote }}
      sourceRef:
        kind: HelmRepository
        name: {{ $me.chartRepository | quote }}
        namespace: {{ $.Release.Namespace }}
      interval: 1h
  upgrade:
    remediation:
      remediateLastFailure: true
  test:
    enable: true
  values:
    {{- include "backup.velero.mergedValues" . | nindent 4 }}
{{- end }}
