{{- $me := .Values.components.security.certManager }}
{{- if and
  (include "common.managed" $me)
  (.Capabilities.APIVersions.Has "cert-manager.io/v1")
}}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    {{- if .Values.global.contactAddress }}
    email: {{ .Values.global.contactAddress | quote }}
    {{- end }}
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
       - http01:
          ingress:
            class: nginx
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    {{- if .Values.global.contactAddress }}
    email: {{ .Values.global.contactAddress | quote }}
    {{- end }}
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
       - http01:
          ingress:
            class: nginx
{{- end }}
