{{- $me := .Values.components.security.certManager }}
{{- if include "common.managed" $me }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  chart:
    spec:
      chart: cert-manager
      sourceRef:
        kind: HelmRepository
        name: {{ $me.chartRepository | quote }}
        namespace: {{ $.Release.Namespace }}
      version: {{ $me.chartVersion | quote }}
  interval: 1h
  values:
    installCRDs: true
    resources:
      requests:
        memory: 150Mi
        cpu: 3m
    cainjector:
      resources:
        requests:
          memory: 170Mi
          cpu: 2m
    webhook:
      resources:
        requests:
          memory: 30Mi
          cpu: 1m
{{- end }}
