{{- $me := .Values.components.monitoring.thanos }}
{{- if include "common.managed" $me }}
{{- if .Capabilities.APIVersions.Has "objectbucket/v1alpha1" }}
apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: thanos-bucket
  namespace: {{ $me.namespace }}
  annotations:
    {{- if $me.helmResourcePolicyKeep }}
    helm.sh/resource-policy: keep
    {{- end }}
spec:
  additionalConfig:
    #maxObjects: "10000"
    maxSize: 80G
  bucketName: thanos-bucket
  generateBucketName: thanos-bucket
  storageClassName: ceph-bucket
{{- end }}
{{- end }}
